.container img{
 width: 150px;
  height: auto;
}

h1,h2{
  font-family: 'Luckiest Guy';
      text-shadow: 2px 2px #333; /* 2px horizontal, 2px vertical, dark grey color */
}

.container{
  background-color: rgb(107, 16, 16);

  color: white;
    display: flex;        /* puts items in a row */
  flex-wrap: wrap;      /* allows wrapping to next line if too many */
  justify-content: center;
  gap: 7px;            /* spacing between items */
  padding: 0px; 
}

.service {
  max-width: 400px;      /* prevents becoming too wide */
  min-height: 440px;     /* ✅ equal height without overflow */
  border-radius: 10px;
  padding: 85px;
  margin: 15px;
  text-align: center;
  width: 200px;
  height: 440px;
  background-color:  rgb(82, 15, 15);
  border: 1px solid rgb(230, 217, 192);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  cursor: pointer;  
}

.service img {
  width: 10rem;
  height: auto;
  margin-bottom: 10px;
}

.service:hover {
  transform: translateY(-0px) scale(1.06);;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.resize-img, .resize-img-electric, .resize-img-oil, .resize-img-tier, 
.resize-img-wash {
  margin-top: 40px;
  margin-bottom: 10px!important;
}

.oil-text{
  margin-bottom: 10px!important;
}

.resize-img-paint{
  width: 154px!important;
  height: auto!important;
  margin-right: 10px!important;
  margin-left: 23px;
  margin-bottom: 20px;
  display: block;
}

.resize-img-oil{
   width: 220px!important;
  height: auto!important;
  display: block;
  margin-right: 15px!important;
  margin-bottom: 40px!important;
}

.resize-img{
  width: 120px !important;
  height: auto !important;
  display: block;
  margin-left: 45px;
}
